
.baruna-h {
    position: relative;
    color: #634837;
}
.decorate-img-1 {
    position: absolute;
    right: 0;
    top: 2vh;
    width: 180px;
    height: 200px;
    background-image: url("/img/designs/varuna/pramana-brown1.png");
    background-size: cover;
    z-index: 0;
}
.decorate-img-2 {
    position: absolute;
    left: 0;
    bottom: 2vh;
    width: 200px;
    height: 320px;
    background-image: url("/img/designs/varuna/pramana-brown2.png");
    background-size: cover;
    z-index: 0;
}

.baruna-h .main-txt {
    z-index: 1;
}
.baruna-h .groom-bride-t {
    font-family: sans-serif;
}
.baruna-h .groom-bride-t h2 {
    line-height: normal;
    color: #634837;
}
.baruna-h .bg-and {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 200px;
    color: #F7F6F5;
    z-index: -1;
}

/* Count down */
.baruna-h .countdown h2 {
    font-size: 11px;
    letter-spacing: 2px;
}

/* Groom bride */
.groombride-c .gb-img img {
    width: 128px;
    height: 128px;
}

@screen sm {
    .baruna-h .countdown h2 {
        font-size: 13px;
        letter-spacing: 2px;
    }
    .baruna-h .bg-and {
        font-size: 220px;
    }
    .decorate-img-1 {
        width: 250px;
        height: 250px;
    }
    .decorate-img-2 {
        bottom: 2vh;
        width: 240px;
        height: 350px;
    }
}

@screen md {
    .baruna-h .bg-and {
        font-size: 300px;
    }
    .decorate-img-1 {
        top: 2vh;
        width: 300px;
        height: 300px;
    }
    .decorate-img-2 {
        bottom: 2vh;
        width: 300px;
        height: 450px;
    }
}