
.hm-features-wr {
    position: relative;
}
.hm-features-wr > div {
    z-index: 1;
}
.hm-features-wr::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
}

.hm-features-wr > svg {
    position: absolute;
    top: 0;
    transform: translateY(-75%);
}


@screen md {
    .hm-features-wr:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
    }

    .hm-features-wr > svg {
        position: absolute;
        top: 0;
        z-index: -1;
    }
}