
.hm-why-wr {
    position: relative;
}

.hm-why-wr > div {
    position: relative;
    z-index: 5;
}
.hm-why-wr > div > h1{
    z-index: 1;
}
.hm-why-wr:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: -20px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
}

.hm-why-wr > svg {
    position: absolute;
    transform: translateY(-99%);
    top: 0;
    z-index: 1;
}

/* @screen sm {
    .hm-why-wr > svg {
        position: absolute;
        transform: translateY(-130%);
        top: 0;
        z-index: -1;
    }
} */

@screen md {
    .hm-why-wr:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 40px;
        bottom: -40px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
    }

    .hm-why-wr > svg {
        position: absolute;
        transform: translateY(-65%);
        top: 0;
        z-index: -1;
    }
}